@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    background-color: #eff2f5;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    .container {
        position: relative;
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #left,
        #right {
            width: 120px;
            min-height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            border-radius: 10px;
            box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.75), 5px 5px 9px rgba(94, 104, 121, 0.75);

            .list {
                margin: 10px 0;
                width: 80px;
                height: 80px;
                border-radius: 10px;
                box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.75), 5px 5px 9px rgba(94, 104, 121, 0.75);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: grab;

                span {
                    font: 15px/1 "Bagel Fat One";
                }
            }
        }
    }

    .wrap {
        flex: 1;
        width: 100%;
        height: 100vh;
        border-left: 3px solid rgba($color: #000000, $alpha: 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        position: relative;

        div {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            transition: 0.7s;
            transform: scale(0);
            width: 100%;
            height: 100%;
            min-height: 500px;
            border-radius: 15px;
            box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.75), 5px 5px 9px rgba(94, 104, 121, 0.75);
            z-index: -1;

            &.on {
                z-index: 50;
                transform: scale(1);
            }
        }

        .page1 {
            h1 {
                padding-top: 40px;
                text-align: center;
            }

            img {
                width: 500px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .page2 {
            h1 {
                padding-top: 40px;
                text-align: center;
            }

            img {
                width: 500px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}